.panel {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/bg.jpg);
  background-size: cover;
}
.menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.menuoffcanvas {
  width: 14.5rem !important;
}
.menu_card {
  margin: 0;
}
.menu_urun {
  margin: 0;
  padding: 0;
}
#menu-list li input:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.05);
  transition: all 0.4s;
}
#menu-list li input:active {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.05);
  transition: all 0.4s;
  animation: press 0.2s 1 linear;
}
.infoandhazne {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  display: flex;
  flex-direction: column;
}
.info_card {
  width: 24rem;
  display: flex;
  align-items: center;
  margin: 0;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buycoffee {
  width: 10rem;
  height: 9rem;
}
.summaryOfCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sethazne {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
#addbuttons {
  background-color: #5dbea3;
  color: white;
  border: 0;
  height: 2rem;
  vertical-align: bottom;
  text-align: justify;
  font-family: monospace;
  box-shadow: 0px 2px 2px rgba(1, 2, 3, 4);
  transition: all 0.15s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid lighten(gray, 70%);
}
#addbuttons:hover {
  box-shadow: 0px 3px 3px rgba(1, 2, 3, 4);
  transform: scale(1.03);
}
#addbuttons:active {
  box-shadow: 0px 4px 8px rgba(dodgerblue, 30%);
  transform: scale(0.95);
}
.timer {
  margin: auto;
}
.addsupart {
  display: none;
}

.addkahvepart {
  display: none;
}

.addsutpart {
  display: none;
}

.active {
  display: block;
}
.menubutton {
  background-color: dodgerblue;
  color: white;
  border: 0;
  height: 2rem;
  text-align: center;
  font-family: monospace;
  box-shadow: 0px 2px 2px rgba(1, 2, 3, 4);
  transition: all 0.15s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid lighten(gray, 70%);
}
.menubutton:hover {
  box-shadow: 0px 3px 3px rgba(1, 2, 3, 4);
  transform: scale(1.03);
}
.menubutton:active {
  box-shadow: 0px 4px 8px rgba(dodgerblue, 30%);
  transform: scale(0.95);
}
@media screen and (min-width: 400px) and (max-width: 768px) {
    .panel {
        width: 100vw;
        height: 100vh;
        background-image: url(/images/bg.jpg);
      }
  .buycoffee {
    width: 4rem;
    height: 3.6rem;
  }
  .menuoffcanvas {
    width: 7rem !important;
  }
  .menu_card {
    margin: 0 !important;
    width: 5rem !important;
  }
  .menu_urun {
    margin: 0;
    padding: 0;
  }
  .infoandhazne {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20%;
    display: flex;
    flex-direction: column;
  }
  .info_card {
    transform: scale(0.85);
    width: 20rem !important;
    display: flex;
    align-items: center;
    margin: 0;
  }
  .menubutton {
    background-color: dodgerblue;
    color: white;
    transform: scale(0.85);
    margin: 0 !important;
    border: 0;
    text-align: center;
    font-family: monospace;
    box-shadow: 0px 2px 2px rgba(1, 2, 3, 4);
    transition: all 0.15s;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 4px solid lighten(gray, 70%);
  }
  .menubutton:hover {
    box-shadow: 0px 3px 3px rgba(1, 2, 3, 4);
    transform: scale(0.88);
  }
  .menubutton:active {
    box-shadow: 0px 4px 8px rgba(dodgerblue, 30%);
    transform: scale(0.8);
  }

}